html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	/* Pattern from : http://subtlepatterns.com/one-in-a-million-s/ */
	background-image: url("../images/ignasi_pattern_s.png");
	background-repeat: repeat;
}

.nav {
	margin-bottom: 10px;
}

.navbar-default {
	border-radius: 0;
}

/*.glyphicon {
	margin-right: 1.5em;
}*/

#my-info {
	padding: 30px;
	width: 100%;
	background-color: #ecf0f1;
}

#my-cards {
	height: 100%;
	width: 100%;
}

#my-dice {
	display: inline-block;
}

.die {
	padding: 15px;
	margin: 0 10px 0 10px;
	background-color: white;
}

.card {
	display: inline-block;
	border: 2px solid grey;
	min-height: 250px;
	max-height: 250px;
	min-width: 170px;
	max-width: 170px;
	overflow-x: scroll;
	margin: 10px;
	padding: 10px;
	background-color: white;
}

.cost {
	list-style: none;
	padding-left: 0;
}

.cost li {
	display: inline;
	height: 100 px;
	background-color: #bdc3c7;
	width: 100%;
}

.cost li img {
	max-height: 40px;
	max-width: 40px;
	padding: 5px;
}

#enemy-row {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.enemy {
	border: 2px solid grey;
	background-color: white;
	min-height: 150px;
	max-height: 150px;
	min-width: 250px;
	max-width: 250px;
	cursor: pointer;
}

.enemy:hover {
	background-color: #bdc3c7;
}

.highlighted {
	box-shadow: 0px 0px 30px #2ecc71;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 10000;
}

#img-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#toast-container {
  pointer-events: none;
  > div {
    pointer-events: auto;
  }
}
